*.a
*.out
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.metal.air
*.metallib
*.metallib.c
*.ptx
*.ptx.c
*.ptx.gz
*_g
**/node_modules/
**/.vscode/
**/package-lock.json
*.idea
**/__pycache__/
**/*.cache
**/*.editorconfig
**/obj/
**/bin/
*.sln
*.csproj
**/out/